/* General Initalisations */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  --fw-titles: 500;
  --fw-text: 300;
  --clr-background: #202124;
  --clr-accent: #4e87f2;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--clr-background);
}

/* Navigation */
.logo {
  font-weight: var(--fw-text);
  float: left;
  padding-left: 3vw;
  padding-top: 2.5vh;
}

.navbar {
  width: 100%;
  height: 7.5vh;
  background-color: var(--clr-background);
  position: fixed;
  top: 0;
  z-index: 2;
  position: absolute;
  background-color: var(--clr-background);
  line-height: 30px;
  width: 100%;
  min-height: 7.5vh;
}

.nav {
  display: inline;
  display: flex;
  padding-top: 0.7vh;
  list-style: none;
  float: right;
  padding-right: 4vw;
  font-weight: var(--fw-titles);
}

.nav-button {
  padding-left: 5vw;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(to top, #ffffff, #ffffff);
  background-size: 10% 1em, 0 0.15em;
  background-position: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  background-size: 0 1em, 75% 0.15em;
}

/* Header */
header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(/images/landing.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.landing {
  padding-top: 40vh;
  line-height: normal;
}

.landing .title {
  font-weight: var(--fw-titles);
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.landing .text {
  font-weight: var(--fw-text);
  font-size: 1.5rem;
  margin: 0;
}

/* Container Squares */
.container {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 100vh;
  background-color: var(--clr-background);
  line-height: 30px;
  font-weight: lighter;
  width: 100%;
  height: auto;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  padding-top: 10vh;
  margin-right: 10vw;
  padding-left: 5vw;
  grid-auto-rows: max-content;
}

.square {
  width: 20vw;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: #35363a;
  border-radius: 1vw;
  padding: 1vh;
  margin-top: 1vh;
  box-shadow: 0px 0px 18px -3px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
}

.square .title {
  font-weight: var(--fw-titles);
}

.square .subtitle {
  font-weight: var(--fw-titles);
  text-align: left;
  padding-left: 1vw;
}

.grid-container {
  width: 100%;
}

.square .text {
  font-weight: var(--fw-text);
}

.square .read-more {
  text-decoration: none;
  color: #35363a;
  font-weight: var(--fw-titles);
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  border: white;
}

.square .read-more:hover {
  animation-name: button;
  animation-duration: 1000ms;
  background-color: #35363a;
  color: white;
  border-radius: 15px;
  outline-style: solid;
  outline-width: 2.5px;
  outline-color: white;
}

.affiliate {
  color: white;
}

/* Footer */
.footer {
  width: 100%;
  background-color: black;
  display: flex;
  z-index: 1;
  background-color: black;
  line-height: 10px;
  width: 100%;
  height: 25vh;
  text-align: center;
  display: inline-block;
  position: absolute;
  padding-top: 80vh;
}

.footer .title {
  font-weight: var(--fw-titles);
  text-align: center;
  font-size: 2em;
}

.icon-container .icon {
  margin: 0.5vw;
  width: 32px;
}

/* Text Modification */
.bold {
  font-weight: var(--fw-titles);
}

.list {
  text-align: left;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* animation keyframes */

@keyframes button {
  from {
    text-decoration: none;
    color: #35363a;
    font-weight: var(--fw-titles);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
  }
  to {
    background-color: #35363a;
    outline-style: solid;
    outline-width: 2.5px;
    outline-color: white;
    padding: 10px;
    border-radius: 8px;
  }
}

/* media statements */
@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .square {
    width: 35vw;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: #35363a;
    border-radius: 1vw;
    padding: 1vh;
    margin-top: 1vh;
    box-shadow: 0px 0px 18px -3px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-bottom: 2vh;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .square {
    width: 80vw;
  }
  .footer {
    padding-top: 90vh;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  .nav {
    float: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-link {
    font-size: 3.5vw;
    text-align: center;
  }
  .landing {
    text-align: center;
  }
  .landing .text {
    text-align: center;
  }
}
