/* General Initalisations */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  --fw-titles: 500;
  --fw-text: 300;
  --clr-background: #202124;
  --clr-accent: #4e87f2;
  overflow-x: hidden;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  background-color: var(--clr-background);
}

/* Navigation */
.logo {
  font-weight: var(--fw-text);
  float: left;
  padding-left: 3vw;
  padding-top: 0.5cm;
}

.navbar {
  height: 1.75cm;
  background-color: var(--clr-background);
  position: sticky;
  background-color: var(--clr-background);
  line-height: 30px;
}

.nav {
  display: inline;
  display: flex;
  padding-top: 0.5cm;
  list-style: none;
  float: right;
  padding-right: 4vw;
  font-weight: var(--fw-titles);
  margin: 0;
}

.nav-button {
  padding-left: 5vw;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(to top, #ffffff, #ffffff);
  background-size: 10% 1em, 0 0.15em;
  background-position: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  background-size: 0 1em, 75% 0.15em;
}

/* Header */
header {
  box-sizing: border-box;
  height: 50vh;
  text-align: center;
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(/images/landing.jpg);
  background-size: 100%;
  z-index: -1;
}

.landing {
  padding-top: 20vh;
  line-height: normal;
}

.landing .title {
  font-weight: var(--fw-titles);
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.landing .text {
  font-weight: var(--fw-text);
  font-size: 1.5rem;
  margin: 0;
}

/* Container Squares */
.container {
  display: flex;
  top: 50vh;
  background-color: var(--clr-background);
  line-height: 30px;
  height: auto;
  min-height: 50vh;
  display: grid;
  padding-top: 10vh;
  padding-left: 5vw;
  grid-auto-rows: max-content;
  max-width: 100vw;
  padding-left: 3vw;
  padding-bottom: 3vh;
}

.square {
  width: 87.5vw;
  background-color: #35363a;
  border-radius: 1vw;
  margin-top: 1vh;
  box-shadow: 0px 0px 18px -3px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.square .title {
  font-weight: var(--fw-titles);
  float: left;
}

.square .subtitle {
  font-weight: var(--fw-titles);
  text-align: left;
  padding-left: 1vw;
}

.grid-container {
  width: 100%;
}

.square .text {
  font-weight: var(--fw-text);
  padding-top: 2vh;
}

.square .read-more {
  text-decoration: none;
  color: #35363a;
  font-weight: var(--fw-titles);
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  border: white;
}

.square .read-more:hover {
  animation-name: button;
  animation-duration: 1000ms;
  background-color: #35363a;
  color: white;
  border-radius: 15px;
  outline-style: solid;
  outline-width: 2.5px;
  outline-color: white;
}

.affiliate {
  color: white;
}

img {
  width: 70vh;
  vertical-align: auto;
  margin: auto;
}

.Expand {
  float: right;
  display: inline;
  font-weight: 300;
}

.square div {
  padding-top: 6vh;
}

/* Footer */
.footer {
  background-color: black;
  display: flex;
  background-color: black;
  line-height: 10px;
  width: 100%;
  height: 25vh;
  text-align: center;
  display: inline-block;
}

.footer .title {
  font-weight: var(--fw-titles);
  text-align: center;
  font-size: 2em;
}

.icon-container .icon {
  margin: 0.5vw;
  width: 32px;
}

/* Text Modification */
b {
  font-weight: var(--fw-titles);
}

.list {
  text-align: left;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

/* animation keyframes */

@keyframes button {
  from {
    text-decoration: none;
    color: #35363a;
    font-weight: var(--fw-titles);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
  }
  to {
    background-color: #35363a;
    outline-style: solid;
    outline-width: 2.5px;
    outline-color: white;
    padding: 7.5px;
    border-radius: 8px;
  }
}

/* media statements */

@media only screen and (max-width: 750px) {
  .logo {
    display: none;
  }
  .nav {
    float: right;
    text-align: center;
    padding-left: 0;
  }
  .nav-link {
    font-size: 1em;
    text-align: center;
  }
  .landing {
    text-align: center;
  }
  .landing .text {
    text-align: center;
  }
  img {
    display: none;
  }
}
