* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  --fw-titles: 500;
  --fw-text: 300;
  --clr-background: #202124;
  --clr-accent: #4e87f2;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--clr-background);
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(/images/landing.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.landing {
  padding-top: 40vh;
  padding-left: 10vw;
  position: absolute;
  text-align: left;
  line-height: normal;
  animation-duration: 1000ms;
  animation-name: slidein;
}

.landing .title {
  font-weight: var(--fw-titles);
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.landing .text {
  font-weight: var(--fw-text);
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: inline;
  display: flex;
  padding-top: 0.75vh;
  list-style: none;
  float: right;
  padding-right: 4vw;
  position: fixed;
  position: sticky;
}

.nav-button {
  padding-left: 5vw;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  animation-duration: 1000ms;
  animation-name: slidein;
}

.container {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background-color: var(--clr-background);
  line-height: 30px;
  font-weight: lighter;
  padding: 40px;
  width: 100%;
  height: 100vh;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  padding-top: 10vh;
}

.square {
  background-color: #35363a;
  max-width: 75%;
  border-radius: 1vw;
  padding: 1vh;
  margin-top: 1vh;
}

.square:hover {
  animation-name: squaresize;
  animation-duration: 500ms;
  width: 50vw;
  animation-timing-function: ease-in-out;
}

.square .title {
  text-align: center;
  font-weight: var(--fw-titles);
}

/* animation keyframes */

@keyframes slidein {
  from {
    font-size: 0;
  }

  to {
  }
}

@keyframes squaresize {
  from {
    width: 33vw;
  }

  to {
    width: 50vw;
  }
}
