* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  --fw-titles: 500;
  --fw-text: 300;
  --clr-background: #202124;
  --clr-accent: #4e87f2;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--clr-background);
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(/images/landing.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.landing {
  padding-top: 40vh;
  padding-left: 10vw;
  position: absolute;
  text-align: left;
  line-height: normal;
  animation-duration: 1000ms;
  animation-name: slidein;
}

.landing .title {
  font-weight: var(--fw-titles);
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.landing .text {
  font-weight: var(--fw-text);
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: inline;
  display: flex;
  padding-top: 0.75vh;
  list-style: none;
  float: right;
  padding-right: 4vw;
  position: fixed;
  position: sticky;
}

.nav-button {
  padding-left: 5vw;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  animation-duration: 1000ms;
  animation-name: slidein;
}

.container {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 100vh;
  background-color: var(--clr-background);
  line-height: 30px;
  font-weight: lighter;
  width: 100%;
  height: auto;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  padding-top: 10vh;
  margin-right: 10vw;
  padding-left: 5vw;
  grid-auto-rows: max-content;
}

.square {
  width: 20vw;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: #35363a;
  border-radius: 1vw;
  padding: 1vh;
  margin-top: 1vh;
  box-shadow: 0px 0px 18px -3px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-bottom: 2vh;
}

.square .title {
  font-weight: var(--fw-titles);
}

.grid-container {
  width: 100%;
}

.square .text {
  font-weight: var(--fw-text);
}

.square a {
  text-decoration: none;
  color: #35363a;
  font-weight: var(--fw-titles);
  background-color: white;
  padding: 1vw;
  border-radius: 15px;
  border: white;
}

.square a:hover {
  animation-name: button;
  animation-duration: 1000ms;
  background-color: #35363a;
  color: white;
  border-radius: 15px;
  outline-style: solid;
  outline-width: 2.5px;
  outline-color: white;
}

.footer {
  width: 100%;
  background-color: black;
  display: flex;
  z-index: 1;
  position: absolute;
  background-color: black;
  line-height: 30px;
  font-weight: lighter;
  width: 100%;
  height: 20vh;
  padding-top: 60vh;
  text-align: center;
}

.footer .title {
  font-weight: var(--fw-titles);
  text-align: center;
  padding-left: 42%;
  padding-right: 40%;
}

/* animation keyframes */

@keyframes slidein {
  from {
    font-size: 0;
  }

  to {
  }
}

@keyframes button {
  from {
    text-decoration: none;
    color: #35363a;
    font-weight: var(--fw-titles);
    background-color: white;
    padding: 1vw;
    border-radius: 15px;
  }
  to {
    background-color: #35363a;
    outline-style: solid;
    outline-width: 2.5px;
    outline-color: white;
  }
}
